.friend {
    display: inline-block;
    width: 49%;
    padding: 0 7px;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    margin: 10px auto;
}

.friend img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.friend p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

