.dialogs {
    display: flex;
    position: relative;
}


.addMessage {
    width: calc(100% - 170px);
    padding: 10px;
    height: 155px;
    position: absolute;
    right: 0;
    bottom: 10px;
}
.addMessage  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    resize: none;
    border: 2px solid #1fbfee;
    height: 80px;

}